body{
    background-color:mediumseagreen;
}
 
h1{
   text-align:center;
}
div{
      background-color:white;
	  width:1000px;
	  position:absolute;
	  top:100px;
	  left:150px;
}

form{
    padding-left:300px;
	color:blue;
}
.name{
	color:mediumseagreen;
}
table{
   padding-top:50px;
   padding-bottom:50px;
   font-size:24px;
   color:blue;
}
table.show{
	
	text-align:left;
	color:red;
}
tr.notif{
      font-size:16;
	  color:red;
}
input{
    color:blue;
}
